@model ForgottenPasswordEmail
@{
    ViewData["Title"] = "Forgotten Password";
    bool showAccountNotFound = ViewBag.InvalidEmail;
    bool showLink = false;
    bool sent = ViewBag.Sent;

    if (ViewBag.TempLink != "") showLink = true;
    string path = ViewBag.TempLink;
}

<div class="divwrapper" style="display:flex; justify-content: center; margin-top:50px">
    <div class="form">
        @using (Html.BeginForm("ForgottenPasswordEmail", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="title" style="font-size:25px">Forgotten Password</div>
            <div class="subtitle">We'll send you a link to reset your password</div>

            <div class="input-container ic1">
                @Html.TextBoxFor(t => t.Email, new { @class = "input", @placeholder = " ", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Email)
                @if (showAccountNotFound)
                {
                    <label>Invalid Email Address</label>
                }
                <div class="cut cut-short"></div>
                <label for="Email" class="placeholder">Email</label>
            </div>
            @if(!sent)
            {
                <input type="submit" class="submit" value="Send" />
            }
            else
            {
                <label>Email Sent!</label>
            }
        }
    </div>
</div>

<br/>
@if(showLink)
{
    @Html.ActionLink("RESET", "ForgottenPassword", "Login", new { token = path })
}